In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import IsolationForest

In [13]:
# sample_path = "../../../logs/cyberattack_status_0_0.005_c_0_0.csv" # cyberattack_status_0_0.005_c_0_0.csv

# df = pd.read_csv(sample_path)

# read a sample:
# sample_path = "../code/logs/charging_od_0_0.005_c_0.csv"

# cyberattack_status_0_0.005_c_0_0.csv

df = pd.read_csv("../../../logs/parsed_results_0_0.005_c_19_1_0.csv")
df_attack = pd.read_csv("../../../logs/parsed_results_0_0.005_c_19_1_5.csv")

In [3]:
df["hour"] = df["time"]/60%1440%24
df

,time,num_idle,num_serving,num_charging,num_cruising,num_assigned,num_waitpile,num_tobedisptached,average_idle_time,num_matches,average_idle_dist,longwait_pass,served_pass,removed_pass,consumed_SOC_per_cycle,total_system_revenue,hour
0,345600,44,459,86,0,392,4,2,612.355199,43,176.010358,336,40,376,0.590755,1375.659653,0.0
1,345660,39,464,88,0,391,5,4,612.378907,40,176.387995,363,43,406,0.607381,1375.763234,1.0
2,345720,45,464,88,0,388,4,1,611.977266,38,176.335595,333,40,373,0.606889,1375.444083,2.0
3,345780,39,465,88,0,390,0,6,612.027026,39,176.490497,357,38,395,NaN,1375.649739,3.0
4,345840,34,483,84,0,380,8,1,612.151122,38,176.371519,332,39,371,0.552709,1375.901410,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,431700,47,471,80,0,384,1,3,771.626282,39,215.919074,385,38,423,0.709979,1725.302380,19.0
1436,431760,50,461,79,0,390,3,3,771.833716,44,215.932961,363,39,402,0.635780,1725.670787,20.0
1437,431820,42,457,82,0,399,2,3,772.101240,47,215.634800,375,44,419,0.598859,1726.049436,21.0
1438,431880,32,463,81,0,402,1,4,772.729100,38,215.661538,335,47,382,0.575474,1726.876373,22.0
1439,431940,40,460,80,0,397,4,2,773.004567,30,215.526096,371,38,409,0.564307,1727.305885,23.0

In [4]:
df[" unit_system_revenue"]  = df[" total_system_revenue"].diff()
# df = df[df["hour"].isin([6,7,8,9,17,18,19,20])]

In [5]:
# parse a sample of hourly statistics
normal_profile = df[["hour"," num_idle"," num_serving"," num_charging"," num_assigned"," num_waitpile"," unit_system_revenue"]].rolling(30).mean().dropna()
# normal_profile = normal_profile.iloc[120:,]
normal_profile = normal_profile[normal_profile[" unit_system_revenue"]>0]

In [6]:
random_state = np.random.RandomState(1)

model=IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.05),random_state=random_state) # a false alarm rate of 5%.

model.fit(normal_profile)

c:\Users\sguo18\Anaconda3\envs\dp\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.05,
                random_state=RandomState(MT19937) at 0x20EECB6C840)

In [7]:
normal_profile['scores'] = model.decision_function(normal_profile)

normal_profile['is_inlier'] = model.predict(normal_profile.iloc[:,:-1])

In [8]:
normal_profile[normal_profile['is_inlier']==-1]

,hour,num_idle,num_serving,num_charging,num_assigned,num_waitpile,unit_system_revenue,scores,is_inlier
431,13.3,108.566667,464.300000,74.666667,206.800000,3.966667,0.328128,-0.014779,-1
432,12.7,110.133333,461.400000,75.833333,200.533333,3.933333,0.326116,-0.000506,-1
434,11.5,113.466667,453.200000,78.200000,191.500000,4.133333,0.326003,-0.008593,-1
435,10.9,115.700000,448.033333,79.366667,187.633333,4.133333,0.342632,-0.012841,-1
436,10.3,118.033333,442.633333,80.566667,184.966667,4.133333,0.342093,-0.014008,-1
...,...,...,...,...,...,...,...,...,...
539,10.9,80.800000,368.566667,47.966667,375.600000,1.866667,0.103619,-0.006005,-1
547,12.5,65.733333,383.100000,48.866667,411.600000,2.100000,0.132313,-0.000951,-1
549,12.9,63.100000,387.866667,49.566667,417.633333,2.166667,0.133080,-0.009058,-1
550,13.1,61.200000,390.300000,49.933333,420.400000,2.166667,0.137815,-0.000309,-1
551,13.3,59.566667,393.000000,50.300000,423.333333,2.166667,0.125387,-0.014900,-1

In [14]:
df_attack["hour"] = df_attack["time"]/60%1440%24
df_attack[" unit_system_revenue"] = df_attack[" total_system_revenue"].diff()


# df_attack = df_attack[df_attack["hour"].isin([6,7,8,9,17,18,19,20])]

# attacked_profile = df_attack[["hour"," num_idle"," num_serving"," num_charging"," num_assigned"," num_waitpile"," unit_system_revenue"]].groupby("hour").mean().dropna().reset_index()
attacked_profile = df_attack[["hour"," num_idle"," num_serving"," num_charging"," num_assigned"," num_waitpile"," unit_system_revenue"]].rolling(30).mean().dropna()
attacked_profile = attacked_profile[attacked_profile[" unit_system_revenue"]>0]

In [16]:
attacked_profile['scores'] = model.decision_function(attacked_profile)

attacked_profile['is_inlier'] = model.predict(attacked_profile.iloc[:,:-1])

In [17]:
attacked_profile[attacked_profile['is_inlier']==-1]

,hour,num_idle,num_serving,num_charging,num_assigned,num_waitpile,unit_system_revenue,scores,is_inlier
431,13.3,108.566667,464.300000,74.666667,206.800000,3.966667,0.328128,-0.014779,-1
432,12.7,110.133333,461.400000,75.833333,200.533333,3.933333,0.326116,-0.000506,-1
434,11.5,113.466667,453.200000,78.200000,191.500000,4.133333,0.326003,-0.008593,-1
435,10.9,115.700000,448.033333,79.366667,187.633333,4.133333,0.342632,-0.012841,-1
436,10.3,118.033333,442.633333,80.566667,184.966667,4.133333,0.342093,-0.014008,-1
...,...,...,...,...,...,...,...,...,...
539,10.9,80.800000,368.566667,47.966667,375.600000,1.866667,0.103619,-0.006005,-1
547,12.5,65.733333,383.100000,48.866667,411.600000,2.100000,0.132313,-0.000951,-1
549,12.9,63.100000,387.866667,49.566667,417.633333,2.166667,0.133080,-0.009058,-1
550,13.1,61.200000,390.300000,49.933333,420.400000,2.166667,0.137815,-0.000309,-1
551,13.3,59.566667,393.000000,50.300000,423.333333,2.166667,0.125387,-0.014900,-1